body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f1f1f1;
}

h1 {
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.5;
    margin-bottom: 30px;
}

.container {
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
    text-align: center;
    padding-top: 30px;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* .input-container */
.input-container {
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.for-checkbox-custom {
    float: left;
    padding: 10px 20px;
}

.input-container .enter {
    float: left;
    border: none;
    outline: none;
    width: 50%;
    margin: 0;
    padding-top: 12px;
    font-size: 16px;
    background: #ffffff;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 16px;
    opacity: 0.5;
}
/* .input-container */

/* checkbox-custom */
.li-checkbox-custom input,
.for-checkbox-custom input {
    display: none;
    margin: 0;
}

.checkbox-custom {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.li-checkbox-custom input:checked + .checkbox-custom::before,
.for-checkbox-custom input:checked + .checkbox-custom::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 2px;
    background: rgba(0, 0, 0, 0.2);
}
/* checkbox-custom */

/* .li-container */
.li-container {
    width: 100%;
    margin: 0 auto;
}

.list-item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.list-item::after {
    content: "";
    display: table;
    clear: both;
}

.li-checkbox-custom {
    display: block;
    float: left;
    width: 20px;
    padding: 10px;
    padding-left: 20px;
}

.li-checkbox-custom .checkbox-custom {
    border-radius: 50%;
}

.li-checkbox-custom input:checked + .checkbox-custom::before {
    border-radius: 50%;
}

.list-item label[for^="checkbox"] {
    float: left;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    opacity: 1;
    transition: opacity 0.3s;
}

.list-item label[for^="checkbox"]:completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.del-button {
    display: none;
    float: right;
    width: 20px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 16px;
    color: coral;
    border: none;
    background: none;
}

.list-item:hover .del-button {
    display: block;
}
/* .li-container */

/* footer */
.footer {
    padding: 30px 0;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.footer .items-left,
.footer .filter-container {
    display: inline-block;
    margin: 0;
    font-size: 12px;
    color: #777777;
}

.filter-container input[type="radio"] {
    display: none;
    margin: 0;
}

.filter-container label {
    padding: 3px 5px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.filter-container label:hover {
    border: 1px solid rgba(119, 119, 119, 0.15);
}

.filter-container input:checked + label {
    border: 1px solid rgba(119, 119, 119, 0.3);
}

button.clear-completed {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    font-size: 12px;
    color: #777777;
    outline: none;
    border: none;
    background: none;
}

button.clear-completed:hover {
    text-decoration: underline;
}

button.clear-completed:active {
    text-decoration: none;
}

.footer .filter-container {
    margin-right: -30px;
    padding-left: 50px;
}
