body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
    border: 1px solid #c4c4b3;
    text-align: center;
    background: #fffff0;
    box-shadow: 0 0 10px #00000033;
}

.input-container {
    padding-top: 10px;
    padding-bottom: 50px;
}

.for-checkbox-custom {
    float: left;
    padding: 10px 20px;
}

.input-container .enter {
    float: left;
    border: none;
    outline: none;
    width: 50%;
    margin: 0;
    padding-top: 12px;
    font-size: 16px;
    background: #ffffff;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 16px;
    opacity: 0.5;
}
/* .input-container */

/* checkbox-custom */
.for-checkbox-custom input {
    display: none;
    margin: 0;
}

.checkbox-custom {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}

.for-checkbox-custom input:checked + .checkbox-custom::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 2px;
    background: #d1d0d0;
}
/* checkbox-custom */

.input-container .enter {
    position: absolute;
    top: -3px;
    left: 23%;
    border: none;
    outline: none;  
    background: #fffff0;
    margin: 0;
    padding-top: 5px;
}

::-webkit-input-placeholder {
    opacity: 0.5;
    font-style: italic;
}

.li-container {
    width: 70%;
    margin: 0 auto;
}

.list-item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.list-item::after {
    content: "";
    display: table;
    clear: both;
}

.li-checkbox-custom {
    display: block;
    float: left;
    width: 20px;
    padding: 10px;
    padding-left: 20px;
}

.li-checkbox-custom .checkbox-custom {
    border-radius: 50%;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.list-item label[for^="checkbox"] {
    float: left;
    width: 80%;
    text-align: left;
    padding: 0 10px;
    word-wrap: break-word;
    opacity: 1;
    transition: opacity 0.3s;
    word-break: break-all;
}

.list-item label.done {
    text-decoration: line-through;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.del-button {
    display: none;
    float: right;
    width: 20px;
    margin-right: 10px;
    color: coral;
    border: none;
    background: none;
    font-size: 16px;
    padding: 0;
    width: 20px;
}

.del-button.active {
    display: block;
}

/* footer */
.footer {
    padding-bottom: 30px;
}

.footer .items-left,
.footer .filter-container {
    display: inline-block;
    font-size: 12px;
    color: #777777;
    margin: 0;
}

.footer span.items-left {
    margin-left: -30px;
}

.filter-container input[type="radio"] {
    margin: 0;
    display: none;
}

.filter-container label {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 3px 5px;
}

.filter-container label:hover {
    border: 1px solid rgba(119, 119, 119, 0.15);
}

.filter-container input:checked + label {
    border: 1px solid rgba(119, 119, 119, 0.3);
}

button.clear-completed {
    font-size: 12px;
    color: #777777;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    border: none;
    background: none;
    outline: none;
}

button.clear-completed:hover {
    text-decoration: underline;
}

button.clear-completed:active {
    text-decoration: none;
}

.footer .filter-container {
    padding-left: 50px;
    margin-right: -30px;
}
