body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 40%;
    min-width: 300px;
    border: 1px solid #c4c4b3;
    text-align: center;
    background: #fffff0;
    box-shadow: 0 0 10px #00000033;
}

.input-container {
    position: relative;
    padding-bottom: 50px;
}

.for-checkbox-custom {
    position: absolute;
    top: 0;
    left: 16%;
}

/* checkbox-custom */
.for-checkbox-custom input {
    display: none;
    margin: 0;
}

.checkbox-custom {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #dfdfdf;
}

.for-checkbox-custom input:checked + .checkbox-custom::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 2px;
    background: #d1d0d0;
}
/* checkbox-custom */

.input-container .enter {
    position: absolute;
    top: -3px;
    left: 23%;
    border: none;
    outline: none;  
    background: #fffff0;
    margin: 0;
    padding-top: 5px;
}

::-webkit-input-placeholder {
    opacity: 0.5;
    font-style: italic;
}

.li-container {
    width: 70%;
    margin: 0 auto;
}

.list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border: 1px solid #c4c4b3;
    margin-bottom: 20px;
    background: #f8f8e2;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

input[type="checkbox"] {
    margin-left: 10px;
}

.list-item label {
    flex-grow: 1;
    text-align: left;
    padding: 0 10px;
    word-wrap: break-word;
    opacity: 1;
    transition: opacity 0.3s;
    word-break: break-all;
}

.list-item label.done {
    text-decoration: line-through;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.del-button {
    margin-right: 10px;
    color: coral;
    border: none;
    background: none;
    font-size: 16px;
    padding: 0;
    width: 20px;
}

.del-button.active {
    display: block;
}

/* footer */
.footer {
    padding-bottom: 30px;
}

.footer .items-left,
.footer .filter-container {
    display: inline-block;
    font-size: 12px;
    color: #777777;
    margin: 0;
}

.footer span.items-left {
    margin-left: -30px;
}

.filter-container input[type="radio"] {
    margin: 0;
    display: none;
}

.filter-container label {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 3px 5px;
}

.filter-container label:hover {
    border: 1px solid rgba(119, 119, 119, 0.15);
}

.filter-container input:checked + label {
    border: 1px solid rgba(119, 119, 119, 0.3);
}

button.clear-comleted {
    font-size: 12px;
    color: #777777;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    border: none;
    background: none;
    outline: none;
}

button.clear-comleted:hover {
    text-decoration: underline;
}

button.clear-comleted:active {
    text-decoration: none;
}

.footer .filter-container {
    padding-left: 50px;
    margin-right: -30px;
}
